Builds/MacOSX/build
Builds/MacOSX/SignalProcessor.xcodeproj/project.xcworkspace/xcuserdata/Martin.xcuserdatad/UserInterfaceState.xcuserstate

Builds/MacOSX/SignalProcessor.xcodeproj/xcuserdata/Martin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
